@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
    background-color: white;
    color: rgb(17, 24, 39); /* text-gray-900 */
    transition-property: color, background-color;
    transition-duration: 200ms;
}

.dark body {
    background-color: rgb(17, 24, 39); /* bg-gray-900 */
    color: white;
}
